:root { 
  --mainRed: crimson;
  --lightRed: red;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body{ 
  font-family: 'Balsamiq Sans', cursive !important;
  background-color: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{ 
  font-family: 'Metal Mania', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-red { 
  color: var(--mainRed);
}

.text-light { 
  color: var(--lightRed);
}